caminfopi/QCamData.c
caminfopi/QCamData.h
irblasterpi/QIRBlaster.h
irblasterpi/QIRBlaster.c
masterapp/QMasterCam.c
masterapp/QMasterCam.h
caminfopi/*.o
irblasterpi/*.o
masterapp/*.o
caminfopi/camInfoBlaster
irblasterpi/qeoirblaster
masterapp/master-app
Debug
*.sdf
QeoBlasterWebConfig/target
QeoBlasterWebConfig/out
QeoBlasterWebConfig/.idea
ipch